doctype html
html
    head

        // STYLES
        link(rel="stylesheet", href="/styles/importer.css")
        link(rel="stylesheet", href="/styles/style.css")
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        // STYLES END

        title Sails + React
    
    body

        .container

            h1 Vista principal (index.jade)

            div#app

            div Eres la visita numero #{visitCount} (de esta instancia del servidor)
        
        // SCRIPTS
        script(src="/js/dependencies/sails.io.js")
        script(src="/js/app.js")
        // SCRIPTS END