.chat-msgs{
	height: 200px;
	overflow: auto;
	overflow-y: scroll;
	border: 1px solid #aaaaaa;
	padding: 10px;
	margin: 10px 0;

}

.chat-msgs-individual{

	border: 0;
	border-top: 1px solid #aaaaaa;	
	padding-top: 10px;
	border-style: dashed;
}